{% extends '::base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('bundles/ACMEMeeting/css/main.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <div class="wrapper-authorization">
        <form id="Form" action="{{ path('loginAdmin') }}" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}

            <input type="submit" id="submitAuthorization" />
        </form>
    </div>

{% endblock %}