{% extends '::base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('bundles/ACMEMeeting/css/main.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <p>You successful {{ action }}</p>
    <a href="{{ path('main') }}">main</a>
{% endblock %}