{% extends '::base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('bundles/ACMEMeeting/css/main.css') }}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <div class="wrapper-authorization">
        <h2>Welcome user {{ name }}</h2>
    </div>

    <a href="{{ path('login_out') }}">Exit</a><br>
    <a href="{{ path('showProfile') }}">Go to profile</a>
{% endblock %}